doctype 5
html
  head
    title Archmail index
    meta http-equiv="content-type" content="text/html; charset=UTF-8"
    meta name="keywords" content="template language"
    meta name="author" content="Jerzy Sładkowski"
    link rel="shortcut icon" href="images/favicon.ico"
    link href='assets/css/bootstrap-3.2.0.min.css' rel='stylesheet' type='text/css'
    link href='assets/css/font-awesome-3.2.1.min.css' rel='stylesheet' type='text/css'
    link href='assets/css/archmail.css' rel='stylesheet' type='text/css'
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.js"></script>
    script src="assets/js/jquery-1.11.0.min.js"
    script src="assets/js/bootstrap-3.2.0.min.js"

  body
    h3 Archive mail of user: #{current_user} until: #{Date.today}
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-3">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                  </span>Content</a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  <table class="table">
                    <tr>
                      <td>
                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">Articles</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.jquery2dotnet.com">News</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Newsletters</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
                        <span class="badge">42</span>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                  </span>Modules</a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  <table class="table">
                    <tr>
                      <td>
                        <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="http://www.jquery2dotnet.com">Invoices</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="http://www.jquery2dotnet.com">Shipments</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="http://www.jquery2dotnet.com">Tex</a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                  </span>Account</a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  <table class="table">
                    <tr>
                      <td>
                        <a href="http://www.jquery2dotnet.com">Change Password</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="http://www.jquery2dotnet.com">Import/Export</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                          Delete Account</a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                  </span>Reports</a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                  <table class="table">
                    <tr>
                      <td>
                        <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9 col-md-9">
          <div class="well">
            <h1>Accordion Menu With Icon</h1>
            ' Admin Dashboard Accordion Menu
          </div>
        </div>
      </div>
      </div>

        /.container
    /  .row
    /    .col-sm-3.col-md-3
    /      .panel-group#accordion
    /#menu
    /  .menucontent
    /    ul
    /      - folders.each do |folder|
    /        li
    /          = folder.name
    /          - if folder.children.count > 0
    /            ul
    /              == view.render(partial: 'folder', locals: { parent_folder: folder } )
